# System files
__pycache__/
.ipynb_checkpoints/
#Data and corpus (to avoid big file shenanigans)
Corpora/
!Data/
Data/*
!Data/test
results/
!results/consolidated
/home/lab/Pablo/darth_linguo/resources/SBW-vectors-300-min5.txt
